/* Nav height */
.nav-height {
    height: 62px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

/* Section 1 padding top */
.pd-top {
    padding-top: 62px;
}

.pd-top-100 {
    padding-top: 100px;
}

.pd-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Center Div */
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Background image */
.bg-image {
    background-image: url('../images/greenville_banner.png');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;  */
}

.gap-50 {
    gap: 50px;
}